html{
    height: 100%;
}

body{
    background-color: #ecf0f5;
}



header h3{
	text-align: right;
}

.tr-min {
	display:none;
}
@media screen and (max-width: 768px) {
	.tr-max {
		display:none;
	}
	.tr-min {
		display:table;
	}
}

a.nav-link:link 
{ 
    text-decoration:none; 
} 

.container-fluid h3{
	text-align: center;
}


.logo{
	text-align: center;
}

#btn{
	bottom: 0;
    position: absolute;
}

.btn{
    font-size: 12px;
    margin-right: : 10px;

}


.form-control {
    font-size: 12px;
}

.navbar{
	margin-bottom: 10px;
}



.main-view{
    min-height:100%;
    position:relative;

}




.main-footer {
    width: 100%;

    color: #eee;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0;
    float: left;
    position:absolute;
    bottom: auto;
    display: block;
}

.main-footer .rodape-image{
    height: 50px;
}



.text-center {
    text-align: center;
}

.small, small {
    font-size: 85%;
}





.container, .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}



.box.box-info {
    border-top: 3px solid #5bc0de;
}

.jumbotron.box.box-danger {
    border-top: 3px solid #d9534f;
}

.box.box-danger {
    border-top: 3px solid #d9534f;
}

.box.box-success {
    border-top: 3px solid #28a745;
}

.box.box-warning {
    border-top: 3px solid #ffc107;
}

@media screen and (min-width: 768px){
    .container .jumbotron, .container-fluid .jumbotron {
        padding-left: 30px;
        padding-right: 30px;
        background-color: #ffffff;
        
    }
    .container .jumbotron, .container-fluid .jumbotron {
        border-radius: 6px;
        padding-left: 15px;
        padding-right: 15px;
        
    }
}    
.box {
    position: relative;
    border-radius: 3px;
    background: #fff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 15px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    padding: 10px;
}

@media screen and (min-width: 768px){
    .jumbotron {
        padding-top: 24px;
        padding-bottom: 24px;
        
    }
} 
.jumbotron {
    padding: 2rem 1rem;
    
    background-color: #ffffff;
    border-radius: .3rem;
}




.bg-light {
    background-color: #1887b4;
}

.container.bottom70{
    margin-bottom: 70px;
}

.table-bordered td, .table-bordered th {
    border: 0px solid #dee2e6;
}
.table td, .table th {
    padding: 6px;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}

.card{
    position: absolute;
    display: block;
}

.collapsing{
    position: absolute;
    display: block;
}





.btn-group-vertical>.btn, .btn-group>.btn {
    position: unset;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.btn-group, .btn-group-vertical {
    position: unset;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}

@media (min-width: 576px){
    div.modal-dialog.ajuda{
        max-width: 100%;
        margin: 1.75rem auto;
    }
}
div.modal-dialog.ajuda{
        width: auto;
        margin: 1.75rem auto;
    }