.bd-example {
	position: relative;
	padding: 1rem;
	margin: 1rem -15px 0;
	border: solid #f8f9fa;
	border-width: .2rem 0 0;
}

header h3{
	text-align: right;
}

.tr-min {
	display:none;
}
@media screen and (max-width: 768px) {
	.tr-max {
		display:none;
	}
	.tr-min {
		display:table;
	}
}

a.nav-link:link 
{ 
text-decoration:none; 
} 

.container-fluid h3{
	text-align: center;
}

.logo{
	text-align: center;
}

#btn{
	bottom: 0;
    position: absolute;
}

.navbar{
	margin-bottom: 0px;
}





div.wrapper {
    position: relative;
    width: 100%;
    padding-top: 0px;
    height: 100%;
    box-sizing: border-box;
    background-color: $azul-ufms;

    .content {
        box-sizing: border-box;
        position: relative;
        height: 100%;
        width: 100%;
        padding-left: $larguraSidebar;
        z-index: 0;
        background-color: #fff;
        overflow: hidden;
        overflow-y: auto;
        background-color: $azul_ufms;

        &.full {
            padding-left: 0;
        }
    }

 